:root {
  --h4-margin: 10px;
  --dark: rgb(31, 31, 31);
  --light: rgb(236, 236, 236);
}

@font-face {
  font-family: roboto;
  src: url(./fonts/Roboto-Regular.ttf);
}

body {
  font-family: roboto;
  background-color: var(--dark);
  color: var(--light);
}

#all-except-search {
  grid-area: all;
  display: grid;
  grid-template-areas:
    'main-content bubbles'
    'main-content forecast';
  gap: 5em 7em;
}

#search {
  grid-area: search;
  height: 2em;
  margin: 3em 0em 10em auto;
  width: 26em;
}

#search-bar {
  border: 0px solid black;
  border-radius: 0.5em;
  color: var(--light);
  background-color: rgba(255, 255, 255, 0.068);
  height: 1.8em;
  padding-left: 0.6em;
  padding-right: 1.6em;
  font-size: 1.5em;
}

#main-content {
  grid-area: main-content;
  display: grid;
  grid-template-areas:
    'main-info'
    'secondary';
  box-shadow: 1px 1px 5px black;
  border-radius: 1em;
  padding: 1em;
  text-align: center;
  height: 34em;
  width: 25em;
  margin-left: 5em;
}

#main-info {
  grid-area: main-info;
  display: flex;
  flex-direction: column;
}

#time {
  padding: 0.5em;
}

#city-and-country {
  margin-bottom: 0.5em;
}

#main-icon {
  height: 15em;
  margin: -3em -3em -2em -3em;
  padding: 0;
}

#weather {
  grid-area: weather;
  position: relative;
  left: 0.2em;
  bottom: 0.1em;
}

#city {
  display: inline-block;
}
#country {
  display: inline-block;
  position: relative;
  bottom: 1.3em;
}

#temp-plus-switch {
  padding: 1em;
  position: relative;
  left: 2em;
}

#main-temperature {
  display: inline-block;
}
#unit-switch {
  display: inline-block;
  position: relative;
  bottom: 5.8em;
  right: 0.6em;
}
#unit-switch-separator {
  display: inline-block;
}

.scale-btn {
  background-color: rgba(255, 255, 255, 0);
  color: var(--light);
  border: 0px;
  border-radius: 50%;
  font-size: 1.5em;
  cursor: pointer;
}

#celsius {
  padding-right: 0.2em;
}

#fahrenheit {
  padding-left: 0em;
}

.active-unit {
  font-weight: bold;
}
.temp-metric::after {
  content: '°C';
  font-size: 0.6em;
  position: relative;
  bottom: 0.5em;
}

.temp-imperial::after {
  content: '°F';
  font-size: 0.6em;
  position: relative;
  bottom: 0.5em;
}

.speed-metric::after {
  content: 'km/h';
  font-size: 0.6em;
  position: relative;
  left: 0.2em;
}

.speed-imperial::after {
  content: 'mph';
  font-size: 0.6em;
}

#error-message {
  color: rgb(187, 0, 0);
  text-align: start;
  overflow-wrap: normal;
  padding: 0.5em 0.3em;
}

::placeholder {
  color: rgba(255, 255, 255, 0.521);
  font-family: roboto;
}

#search-bar:focus {
  outline: none;
}
#search-btn {
  background-color: rgba(255, 255, 255, 0);
  color: var(--light);
  border: 0px;
  position: relative;
  right: 2.2em;
  font-size: 1.2em;
}

#secondary-info {
  grid-area: secondary;
  display: flex;
  justify-content: space-around;
  box-shadow: 1px 1px 5px black;
  border-radius: 1em;
  padding: 0.5em;
}

.secondary-info-text {
  padding: 0.5em;
}

@keyframes wiggle {
  0% {
    transform: translate(0em, 0em);
  }
  13% {
    transform: translate(0.2em, 0.2em);
  }
  25% {
    transform: translate(0.2em, -0.1em);
  }
  50% {
    transform: translate(0.2em, 0.2em);
  }
  75% {
    transform: translate(-0.2em, -0.2em);
  }
  13% {
    transform: translate(0.2em, 0.1em);
  }
  100% {
    transform: translate(0em, 0em);
  }
}

#bubbles {
  grid-area: bubbles;
  display: flex;
  justify-content: space-around;
}

.bubble {
  display: flex;

  width: 10em;
  height: 9em;
  line-height: 2em;
  border-radius: 50%;
  box-shadow: 1px 1px 5px black;
  text-align: center;
  padding-top: 0.8em;
  margin: auto;
}

.bubble-value {
  position: relative;
  top: 3em;
}

#temp-bubble {
  position: relative;
  top: 1.2em;
  animation: wiggle 9s infinite;
  animation-delay: 1s;
}

#temp-img {
  background-image: url(/src/img/temperature.svg);
  background-repeat: no-repeat;
  width: 5em;
  height: 5em;
}

#sunrise-bubble {
  position: relative;
  bottom: 3em;
  left: 0.5em;
  animation: wiggle 14s infinite;
}

#sunrise-img {
  background-image: url(/src/img/sunrise.svg);
  background-repeat: no-repeat;
  width: 5em;
  height: 5em;
}

#sunset-bubble {
  position: relative;
  top: 2em;
  right: 1.5em;
  animation: wiggle 10s infinite;
  animation-delay: 2s;
}

#sunset-img {
  background: red;
  background-image: url(/src/img/sunset.svg);
  background-repeat: no-repeat;
  width: 5em;
  height: 5em;
}

.bubble-temp {
  margin: 0em 0.2em;
}

#high-low {
  display: flex;
  justify-content: space-between;
}

#forecast {
  grid-area: forecast;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: auto;
  border-radius: 1em;
  padding: 0.5em;
  text-align: center;
  width: 34em;
}

.forecast-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.5em;
  box-shadow: 1px 1px 5px black;
  border-radius: 1em;
  padding: 0.5em;
  height: 7.5em;
}

.forecast-weather {
  margin: -0.75em 0em -0.5em 0em;
}

.weather-icon {
  height: 5em;
}

h1 {
  font-size: 8em;
  font-weight: bold;
}

h2 {
  font-size: 4em;
  font-weight: bold;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.3em;
}
